include /common/header.html

div.auto-center
  div.chat_list#chat_list

  div.submit_chat
    span.input
      input(type="text" id='name' placeholder="닉네임" autofocus)
    span.desc
      textarea(id="content" rows="5" placeholder="내용")
    div.btn_group
      a.btn-submit#submit(href="") 등록

script(src="/socket.io/socket.io.js")
script(type="text/javascript").
  var socket = io();

  socket.emit("list");

  socket.on("list", function(data) {
    var body = document.getElementById("chat_list");

    var str = "";
    str += "<div class='table'>";
    for(var key in data) {
      str +=  "<div class='tr'>" +
                "<div class='lbl'>" + data[key].name + "</div>" +
                "<div class='desc'>" + data[key].content + "</div>" +
                "<div class='date'>" + data[key].date.replace('T', ' ').substr(0, 19) + "</div>" +
              "</div>";
    };
    str += "</div>";
    body.innerHTML = str;

    fn_moveScrollEnd();
  });

  socket.on("update", function(data) {
    var body = document.getElementById("chat_list");
    var length = body.querySelectorAll(".table>.tr").length;
    var prevScrollHeight = body.scrollHeight;

    var str = "";
    str += "<div class='tr'>" +
            "<div class='lbl'>" + data.name + "</div>" +
            "<div class='desc'>" + data.content + "</div>" +
            "<div class='date'>" + data.date + "</div>" +
           "</div>";

    body.querySelector('.table').innerHTML += str;

    if(Object.keys(data).length != length && body.scrollTop == (prevScrollHeight - body.offsetHeight))
      fn_moveScrollEnd();
  });

  document.getElementById("submit").addEventListener('click', function(e){
    e.preventDefault();
    fn_insertChat()
  });

  document.getElementById("content").addEventListener('keydown', function(e){
    if (e.keyCode == 13) {
      e.preventDefault();
      fn_insertChat();
    }
  });

  function fn_checkChat(name, content) {
    if(name.length == 0) { alert("닉네임을 입력해주세요."); return false; }
    if(content.length == 0) { alert("내용을 입력해주세요."); return false; }

    return true;
  }

  function fn_insertChat() {
    var name = document.getElementById("name").value;
    var content = document.getElementById("content").value;

    if(fn_checkChat(name, content)) {
      var data = {
        name: name,
        content: content,
        date : now()
      };

      socket.emit("insert", data);

      document.getElementById("content").value = '';
      document.getElementById("content").focus();
    }
  }

  function fn_moveScrollEnd() {
    var body = document.getElementById("chat_list");
    body.scrollTop = body.scrollHeight;
  }

  function now() {
    var date = new Date();
    var m = date.getMonth()+1;
    var d = date.getDate();
    var h = date.getHours();
    var i = date.getMinutes();
    var s = date.getSeconds();
    return date.getFullYear()+'-'+(m>9?m:'0'+m)+'-'+(d>9?d:'0'+d)+' '+(h>9?h:'0'+h)+':'+(i>9?i:'0'+i)+':'+(s>9?s:'0'+s);
  }

include /common/footer.html
