include /common/header.pug

div.board_write.auto-center
  form#form(action=`/board/posts/${idx}` method="POST")
    input(type="hidden" name="_method" value="PUT")
    fieldset
      legend 글수정
      h3 글수정
      div.table
        div.tr
          div.lbl
            label(for="board_name") 작성자
          div.desc
            input(type="text" id="board_name" name="name" size="20" title="작성자" required autofocus value= data.name)
        div.tr
          div.lbl
            label(for="board_pw") 비밀번호
          div.desc
            input(type="password" id="board_pw" name="pw" size="20" title="비밀번호" required)
        div.tr
          div.lbl
            label(for="board_subject") 제목
          div.desc
            input(type="text" id="board_subject" name="subject" size="80" title="제목" required value= data.subject)
        div.tr
          div.lbl
            label(for="board_content") 내용
          div.desc
            textarea(id="board_content" name="content" cols="80" rows="10" title="내용" required)= data.content
      div.btn_group
        a.btn-default(href="/board/posts/" + idx) 취소
        button.btn-submit(type="submit") 완료

script(type="text/javascript").
  document.getElementById("form").addEventListener('submit', function(e){
    e.preventDefault();
    fn_updateBoard(this);
  });

  function fn_updateBoard(form){
  	var comAjax = new ComAjax(form);
  	comAjax.setUrl(form.action);
  	comAjax.setCallback('fn_updateBoardCallback');
  	comAjax.ajax();
  }

  function fn_updateBoardCallback(isUpdated){
  	if(isUpdated == '1'){
  		alert("완료되었습니다.");
      window.location.href = "/board/posts/#{idx}";
  	}
  	else{
  		alert("비밀번호가 일치하지 않습니다.");
  	}
  }

include /common/footer.pug
