include /common/header.html

div.board_write.auto-center
  form(action="/board/post" method="post")
    fieldset
      legend 글작성
      h3 글작성
      div.table
        div.tr
          div.lbl
            label(for="board_name") 작성자
          div.desc
            input(type="text" id="board_name" name="name" size="20" title="작성자" required autofocus)
        div.tr
          div.lbl
            label(for="board_pw") 비밀번호
          div.desc
            input(type="password" id="board_pw" name="pw" size="20" title="비밀번호" required)
        div.tr
          div.lbl
            label(for="board_subject") 제목
          div.desc
            input(type="text" id="board_subject" name="subject" size="80" title="제목" required)
        div.tr
          div.lbl
            label(for="board_content") 내용
          div.desc
            textarea(id="board_content" name="content" cols="80" rows="10" title="내용" required)
      div.btn_group
        a.btn-default(href="/board/page/1") 취소
        button.btn-submit(type="submit") 완료

include /common/footer.html
